# Android Studio / IntelliJ
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
build/

# Local configuration
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Build outputs
captures/
app/release/
*.apk
*.aab

# macOS
.DS_Store
